<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Encryptor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Encryptor</h1>
        <form method="post">
            <label>Sleutel:</label><br>
            <input type="text" name="key" value="{{ key }}" size="60" required><br>
            <button type="submit" name="action" value="generate_key">Genereer nieuwe sleutel</button>
            <button type="button" onclick="copyKey()">Kopieer sleutel</button><br><br>
            <label>Tekst (encrypt/decrypt):</label><br>
            <textarea name="text" rows="4" cols="50">{{ request.form.get('text','') }}</textarea><br><br>
            <button type="submit" name="action" value="encrypt">Versleutel</button>
            <button type="submit" name="action" value="decrypt">Ontsleutel</button>
        </form>


        <h2>Resultaat:</h2>
        <textarea id="result" rows="4" cols="50" readonly>{{ result }}</textarea><br>
        <button onclick="copyResult()">Kopieer resultaat</button>
    </div>
<script>
    function copyKey() {
        const keyField = document.querySelector("input[name='key']");
        keyField.select();
        document.execCommand("copy");
    }
    function copyResult() {
        const result = document.getElementById("result")
        result.select();
        document.execCommand("copy")
    }
</script>
</body>
</html>
